# SQL ALCHEMY CAPSTONE PROJECT

### Setup the Engine and the MetaData
* In this part, your job is to create an engine to the database that will be used in this capstone. Then, you need to initialize its metadata.

**Instructions**

* Import `create_engine` and `MetaData` from sqlalchemy.

* Create an engine to the default `sakila` DB by using `mysql+pymysql://root:mysqlpassword123@127.0.0.1/sakila` as the connection string.
* Create a MetaData object as metadata.

In [1]:
from sqlalchemy import create_engine

# use the create_engine function and supply it a connection string that provides the details needed to connect to a DB
engine = create_engine('mysql+pymysql://root:mysqlpassword123@127.0.0.1/sakila') #mysql

# connect method to connect the engine
connection = engine.connect()

* Use `engine.table_names()` with `print` to see the table names

In [2]:
print(engine.table_names())

['actor', 'address', 'category', 'city', 'country', 'customer', 'film', 'film_actor', 'film_category', 'film_text', 'inventory', 'language', 'payment', 'rental', 'staff', 'store']

* Wow, lot's of table names. Let's proceed with `actor`
* To call the table inside our DB, 
    * Import `MetaData` and `Table` from `sqlalchemy`
    * Create `MetaData()` object and set it to `metadata` variable.
    * Create `actor` table in sqlalchemy enviroment.

In [3]:
# Reflection reads DB and builds SQLAlchemy Table objects
from sqlalchemy import MetaData, Table
metadata = MetaData() # MetaData object is a catalog that stores DB information such as tables 

actor = Table("actor", metadata, autoload = True, autoload_with=engine) # "country" is our DB Table name, 
# metadata is our metadata instance
# autoload = True: it'll load the data automatically
# autoload_with=engine: it'll autoload from the engine

print(repr(actor)) # to view the details of our table that we stored as census
# This allows us to see the names of the columns along with their types

Table('actor', MetaData(bind=None), Column('actor_id', SMALLINT(unsigned=True), table=<actor>, primary_key=True, nullable=False), Column('first_name', VARCHAR(length=45), table=<actor>, nullable=False), Column('last_name', VARCHAR(length=45), table=<actor>, nullable=False), Column('last_update', TIMESTAMP(), table=<actor>, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000001BBC7D35BB0>, for_update=False)), schema=None)

* Use `.columns.keys()`to see the column names of `actor`

In [4]:
actor.columns.keys()

['actor_id', 'first_name', 'last_name', 'last_update']

- `actor_id` is an int value that is given by each actor consequently.
- `first_name` is name of the actors.
- `last_name` is surname of the actors.
- `last_update` is the last time their info entered to this table.

### DATA MANIPULATION WITH SQLALCHEMY

* Use `select` method to print values inside our `actor`table.
# QUERY YOLU

* **stmt = "SELECT * FROM country"**  this is how we write statements in SQLAlchemy
* Hocam bu yoldan sonrasinda `execute()` ve `result_proxy.fetchall()` methodlari kullaniliyor ancak bu iki method disinda SQLAlchemy methodu kullanmaya gerek yok.

In [5]:
from sqlalchemy import select
# stmt = "SELECT * FROM country" # this is how we write statements ins SQLAlchemy
stmt = select([actor]) # or we can also write like this
result_proxy = connection.execute(stmt) # this is how we execute results in SQLAlchemy
results = result_proxy.fetchall() # this is how we fetch the result in SQLAlchemy
results # to see the all data on the country table

[(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (2, 'NICK', 'WAHLBERG', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (3, 'ED', 'CHASE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (4, 'JENNIFER', 'DAVIS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (5, 'JOHNNY', 'LOLLOBRIGIDA', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (6, 'BETTE', 'NICHOLSON', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (7, 'GRACE', 'MOSTEL', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (8, 'MATTHEW', 'JOHANSSON', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (9, 'JOE', 'SWANK', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (10, 'CHRISTIAN', 'GABLE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (11, 'ZERO', 'CAGE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (12, 'KARL', 'BERRY', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (13, 'UMA', 'WOOD', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (14, 'VIVIEN', 'BERGEN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (15, 'CUBA', 'OLIVIER', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (16, 'FRED', 'COSTNER', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (17, 'HELEN', 'VOIGHT', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (18, 'DAN', 'TORN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (19, 'BOB', 'FAWCETT', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (20, 'LUCILLE', 'TRACY', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (21, 'KIRSTEN', 'PALTROW', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (22, 'ELVIS', 'MARX', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (23, 'SANDRA', 'KILMER', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (24, 'CAMERON', 'STREEP', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (25, 'KEVIN', 'BLOOM', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (26, 'RIP', 'CRAWFORD', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (27, 'JULIA', 'MCQUEEN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (28, 'WOODY', 'HOFFMAN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (29, 'ALEC', 'WAYNE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (30, 'SANDRA', 'PECK', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (31, 'SISSY', 'SOBIESKI', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (32, 'TIM', 'HACKMAN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (33, 'MILLA', 'PECK', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (34, 'AUDREY', 'OLIVIER', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (35, 'JUDY', 'DEAN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (36, 'BURT', 'DUKAKIS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (37, 'VAL', 'BOLGER', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (38, 'TOM', 'MCKELLEN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (39, 'GOLDIE', 'BRODY', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (40, 'JOHNNY', 'CAGE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (41, 'JODIE', 'DEGENERES', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (42, 'TOM', 'MIRANDA', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (43, 'KIRK', 'JOVOVICH', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (44, 'NICK', 'STALLONE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (45, 'REESE', 'KILMER', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (46, 'PARKER', 'GOLDBERG', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (47, 'JULIA', 'BARRYMORE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (48, 'FRANCES', 'DAY-LEWIS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (49, 'ANNE', 'CRONYN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (50, 'NATALIE', 'HOPKINS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (51, 'GARY', 'PHOENIX', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (52, 'CARMEN', 'HUNT', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (53, 'MENA', 'TEMPLE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (54, 'PENELOPE', 'PINKETT', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (55, 'FAY', 'KILMER', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (56, 'DAN', 'HARRIS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (57, 'JUDE', 'CRUISE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (58, 'CHRISTIAN', 'AKROYD', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (59, 'DUSTIN', 'TAUTOU', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (60, 'HENRY', 'BERRY', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (61, 'CHRISTIAN', 'NEESON', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (62, 'JAYNE', 'NEESON', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (63, 'CAMERON', 'WRAY', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (64, 'RAY', 'JOHANSSON', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (65, 'ANGELA', 'HUDSON', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (66, 'MARY', 'TANDY', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (67, 'JESSICA', 'BAILEY', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (68, 'RIP', 'WINSLET', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (69, 'KENNETH', 'PALTROW', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (70, 'MICHELLE', 'MCCONAUGHEY', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (71, 'ADAM', 'GRANT', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (72, 'SEAN', 'WILLIAMS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (73, 'GARY', 'PENN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (74, 'MILLA', 'KEITEL', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (75, 'BURT', 'POSEY', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (76, 'ANGELINA', 'ASTAIRE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (77, 'CARY', 'MCCONAUGHEY', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (78, 'GROUCHO', 'SINATRA', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (79, 'MAE', 'HOFFMAN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (80, 'RALPH', 'CRUZ', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (81, 'SCARLETT', 'DAMON', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (82, 'WOODY', 'JOLIE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (83, 'BEN', 'WILLIS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (84, 'JAMES', 'PITT', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (85, 'MINNIE', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (86, 'GREG', 'CHAPLIN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (87, 'SPENCER', 'PECK', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (88, 'KENNETH', 'PESCI', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (89, 'CHARLIZE', 'DENCH', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (90, 'SEAN', 'GUINESS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (91, 'CHRISTOPHER', 'BERRY', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (92, 'KIRSTEN', 'AKROYD', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (93, 'ELLEN', 'PRESLEY', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (94, 'KENNETH', 'TORN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (95, 'DARYL', 'WAHLBERG', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (96, 'GENE', 'WILLIS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (97, 'MEG', 'HAWKE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (98, 'CHRIS', 'BRIDGES', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (99, 'JIM', 'MOSTEL', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (100, 'SPENCER', 'DEPP', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (101, 'SUSAN', 'DAVIS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (102, 'WALTER', 'TORN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (103, 'MATTHEW', 'LEIGH', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (104, 'PENELOPE', 'CRONYN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (105, 'SIDNEY', 'CROWE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (106, 'GROUCHO', 'DUNST', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (107, 'GINA', 'DEGENERES', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (108, 'WARREN', 'NOLTE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (109, 'SYLVESTER', 'DERN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (110, 'SUSAN', 'DAVIS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (111, 'CAMERON', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (112, 'RUSSELL', 'BACALL', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (113, 'MORGAN', 'HOPKINS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (114, 'MORGAN', 'MCDORMAND', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (115, 'HARRISON', 'BALE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (116, 'DAN', 'STREEP', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (117, 'RENEE', 'TRACY', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (118, 'CUBA', 'ALLEN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (119, 'WARREN', 'JACKMAN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (120, 'PENELOPE', 'MONROE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (121, 'LIZA', 'BERGMAN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (122, 'SALMA', 'NOLTE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (123, 'JULIANNE', 'DENCH', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (124, 'SCARLETT', 'BENING', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (125, 'ALBERT', 'NOLTE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (126, 'FRANCES', 'TOMEI', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (127, 'KEVIN', 'GARLAND', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (128, 'CATE', 'MCQUEEN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (129, 'DARYL', 'CRAWFORD', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (130, 'GRETA', 'KEITEL', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (131, 'JANE', 'JACKMAN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (132, 'ADAM', 'HOPPER', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (133, 'RICHARD', 'PENN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (134, 'GENE', 'HOPKINS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (135, 'RITA', 'REYNOLDS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (136, 'ED', 'MANSFIELD', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (137, 'MORGAN', 'WILLIAMS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (138, 'LUCILLE', 'DEE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (139, 'EWAN', 'GOODING', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (140, 'WHOOPI', 'HURT', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (141, 'CATE', 'HARRIS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (142, 'JADA', 'RYDER', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (143, 'RIVER', 'DEAN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (144, 'ANGELA', 'WITHERSPOON', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (145, 'KIM', 'ALLEN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (146, 'ALBERT', 'JOHANSSON', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (147, 'FAY', 'WINSLET', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (148, 'EMILY', 'DEE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (149, 'RUSSELL', 'TEMPLE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (150, 'JAYNE', 'NOLTE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (151, 'GEOFFREY', 'HESTON', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (152, 'BEN', 'HARRIS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (153, 'MINNIE', 'KILMER', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (154, 'MERYL', 'GIBSON', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (155, 'IAN', 'TANDY', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (156, 'FAY', 'WOOD', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (157, 'GRETA', 'MALDEN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (158, 'VIVIEN', 'BASINGER', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (159, 'LAURA', 'BRODY', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (160, 'CHRIS', 'DEPP', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (161, 'HARVEY', 'HOPE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (162, 'OPRAH', 'KILMER', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (163, 'CHRISTOPHER', 'WEST', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (164, 'HUMPHREY', 'WILLIS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (165, 'AL', 'GARLAND', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (166, 'NICK', 'DEGENERES', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (167, 'LAURENCE', 'BULLOCK', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (168, 'WILL', 'WILSON', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (169, 'KENNETH', 'HOFFMAN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (170, 'MENA', 'HOPPER', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (171, 'OLYMPIA', 'PFEIFFER', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (172, 'GROUCHO', 'WILLIAMS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (173, 'ALAN', 'DREYFUSS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (174, 'MICHAEL', 'BENING', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (175, 'WILLIAM', 'HACKMAN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (176, 'JON', 'CHASE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (177, 'GENE', 'MCKELLEN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (178, 'LISA', 'MONROE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (179, 'ED', 'GUINESS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (180, 'JEFF', 'SILVERSTONE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (181, 'MATTHEW', 'CARREY', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (182, 'DEBBIE', 'AKROYD', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (183, 'RUSSELL', 'CLOSE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (184, 'HUMPHREY', 'GARLAND', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (185, 'MICHAEL', 'BOLGER', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (186, 'JULIA', 'ZELLWEGER', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (187, 'RENEE', 'BALL', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (188, 'ROCK', 'DUKAKIS', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (189, 'CUBA', 'BIRCH', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (190, 'AUDREY', 'BAILEY', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (191, 'GREGORY', 'GOODING', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (192, 'JOHN', 'SUVARI', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (193, 'BURT', 'TEMPLE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (194, 'MERYL', 'ALLEN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (195, 'JAYNE', 'SILVERSTONE', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (196, 'BELA', 'WALKEN', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (197, 'REESE', 'WEST', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (198, 'MARY', 'KEITEL', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (199, 'JULIA', 'FAWCETT', datetime.datetime(2006, 2, 15, 3, 34, 33)),
 (200, 'THORA', 'YALABIK', datetime.datetime(2022, 1, 1, 21, 49, 15)),
 (202, 'Okan', 'Yalabik', datetime.datetime(2021, 1, 1, 21, 15)),
 (203, 'Okan', 'Yalabik', datetime.datetime(2021, 1, 1, 21, 15)),
 (206, 'Serkan', 'KESKIN', datetime.datetime(2022, 1, 1, 21, 52, 36)),
 (300, 'Okan', 'YALABIK', datetime.datetime(2022, 1, 1, 21, 49, 3)),
 (301, 'Erdal', 'Besikcioglu', datetime.datetime(2021, 1, 1, 21, 15)),
 (302, 'Serkan', 'keskin', datetime.datetime(2021, 1, 1, 21, 15))]

* So we have 200 actors in total, along with their id, name, surname and last time their info entered to this table.
* Use mappings to see the first row of `actor` table.

In [6]:
results[0]

(1, 'PENELOPE', 'GUINESS', datetime.datetime(2006, 2, 15, 3, 34, 33))

* Again, use mappings to see the first value of `actor` table.

In [7]:
results[0]["actor_id"] # "Code" is the name of the first column

1

* Let's find the first name of the actor whose ID is 10.
* Use `where` method for that purpose.

In [8]:
from sqlalchemy import select
stmt = select([actor])

stmt = stmt.where(actor.columns.actor_id == "10")
results = connection.execute(stmt).fetchall() # fetching our data

print("First name of the actor whose id is 10: ")
# Using for loop for more clean output
for result in results:
    print(result.first_name)

First name of the actor whose id is 10:
CHRISTIAN

* Let's query now the actors whose name is TOM or whose surname is PITT
* To do that, use `where` with `_or`

In [9]:
from sqlalchemy import or_
stmt = select([actor])

# Actors whose name is TOM or whose surname is PITT
stmt = stmt.where(or_(actor.columns.first_name == "TOM",
                  actor.columns.last_name == "PITT"))
results = connection.execute(stmt).fetchall() # fetching our data

# first name of those actors
print("Actors whose name is TOM or whose surname is PITT: ")
# Using for loop for more clean output
for result in results:
    print(result.first_name)

Actors whose name is TOM or whose surname is PITT:
TOM
TOM
JAMES

* Let's query  a spesific actor: HENRY CAVILL
* To do that, use `where` with `_and`

In [10]:
from sqlalchemy import and_
stmt = select([actor])

# See that if we have HENRY CAVILL in our DB or not
stmt = stmt.where(and_(actor.columns.first_name == "HENRY",
                  actor.columns.last_name == "CAVILL"))
results = connection.execute(stmt).fetchall() # fetching our data
print("Do we have Henry Cavill in our DB? ")
# Using for loop for more clean output
for result in results:
    print(result.first_name, result.last_name)

Do we have Henry Cavill in our DB?

* Let's query now the actors whose last update is not on 2000
* To do that, use `where` with `_not`

In [11]:
from sqlalchemy import not_
stmt = select([actor])

# Not Republicly governed
stmt = stmt.where(not_(actor.columns.last_update == 2000))
results = connection.execute(stmt).fetchall() # fetching our data

# countries
print("Actors whose last update is not on 2000: ")
# Using for loop for more clean output
for result in results:
    print(result.last_update)

Actors whose last update is not on 2000:
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2006-02-15 03:34:33
2022-01-01 21:49:15
2021-01-01 21:15:00
2021-01-01 21:15:00
2022-01-01 21:52:36
2022-01-01 21:49:03
2021-01-01 21:15:00
2021-01-01 21:15:00

* It seems that we have a lot of actors whose last update to our table is not 2000. Interestingly, all of those actors are updated in 2006-02-15 04:34:33. Let's doublecheck it by using `order_by`

In [12]:
from sqlalchemy import and_
stmt = select([actor])

stmt = stmt.order_by(actor.columns.last_update)

# Ordering actors by their last update date: 
results = connection.execute(stmt).fetchall() # fetching our data

print("Ordering actors by their last update date: ")
# Using for loop for more clean output
for result in results:
    print(result.last_update, result.first_name)

Ordering actors by their last update date:
2006-02-15 03:34:33 PENELOPE
2006-02-15 03:34:33 NICK
2006-02-15 03:34:33 ED
2006-02-15 03:34:33 JENNIFER
2006-02-15 03:34:33 JOHNNY
2006-02-15 03:34:33 BETTE
2006-02-15 03:34:33 GRACE
2006-02-15 03:34:33 MATTHEW
2006-02-15 03:34:33 JOE
2006-02-15 03:34:33 CHRISTIAN
2006-02-15 03:34:33 ZERO
2006-02-15 03:34:33 KARL
2006-02-15 03:34:33 UMA
2006-02-15 03:34:33 VIVIEN
2006-02-15 03:34:33 CUBA
2006-02-15 03:34:33 FRED
2006-02-15 03:34:33 HELEN
2006-02-15 03:34:33 DAN
2006-02-15 03:34:33 BOB
2006-02-15 03:34:33 LUCILLE
2006-02-15 03:34:33 KIRSTEN
2006-02-15 03:34:33 ELVIS
2006-02-15 03:34:33 SANDRA
2006-02-15 03:34:33 CAMERON
2006-02-15 03:34:33 KEVIN
2006-02-15 03:34:33 RIP
2006-02-15 03:34:33 JULIA
2006-02-15 03:34:33 WOODY
2006-02-15 03:34:33 ALEC
2006-02-15 03:34:33 SANDRA
2006-02-15 03:34:33 SISSY
2006-02-15 03:34:33 TIM
2006-02-15 03:34:33 MILLA
2006-02-15 03:34:33 AUDREY
2006-02-15 03:34:33 JUDY
2006-02-15 03:34:33 BURT
2006-02-15 03:34:33 VAL
2006-02-15 03:34:33 TOM
2006-02-15 03:34:33 GOLDIE
2006-02-15 03:34:33 JOHNNY
2006-02-15 03:34:33 JODIE
2006-02-15 03:34:33 TOM
2006-02-15 03:34:33 KIRK
2006-02-15 03:34:33 NICK
2006-02-15 03:34:33 REESE
2006-02-15 03:34:33 PARKER
2006-02-15 03:34:33 JULIA
2006-02-15 03:34:33 FRANCES
2006-02-15 03:34:33 ANNE
2006-02-15 03:34:33 NATALIE
2006-02-15 03:34:33 GARY
2006-02-15 03:34:33 CARMEN
2006-02-15 03:34:33 MENA
2006-02-15 03:34:33 PENELOPE
2006-02-15 03:34:33 FAY
2006-02-15 03:34:33 DAN
2006-02-15 03:34:33 JUDE
2006-02-15 03:34:33 CHRISTIAN
2006-02-15 03:34:33 DUSTIN
2006-02-15 03:34:33 HENRY
2006-02-15 03:34:33 CHRISTIAN
2006-02-15 03:34:33 JAYNE
2006-02-15 03:34:33 CAMERON
2006-02-15 03:34:33 RAY
2006-02-15 03:34:33 ANGELA
2006-02-15 03:34:33 MARY
2006-02-15 03:34:33 JESSICA
2006-02-15 03:34:33 RIP
2006-02-15 03:34:33 KENNETH
2006-02-15 03:34:33 MICHELLE
2006-02-15 03:34:33 ADAM
2006-02-15 03:34:33 SEAN
2006-02-15 03:34:33 GARY
2006-02-15 03:34:33 MILLA
2006-02-15 03:34:33 BURT
2006-02-15 03:34:33 ANGELINA
2006-02-15 03:34:33 CARY
2006-02-15 03:34:33 GROUCHO
2006-02-15 03:34:33 MAE
2006-02-15 03:34:33 RALPH
2006-02-15 03:34:33 SCARLETT
2006-02-15 03:34:33 WOODY
2006-02-15 03:34:33 BEN
2006-02-15 03:34:33 JAMES
2006-02-15 03:34:33 MINNIE
2006-02-15 03:34:33 GREG
2006-02-15 03:34:33 SPENCER
2006-02-15 03:34:33 KENNETH
2006-02-15 03:34:33 CHARLIZE
2006-02-15 03:34:33 SEAN
2006-02-15 03:34:33 CHRISTOPHER
2006-02-15 03:34:33 KIRSTEN
2006-02-15 03:34:33 ELLEN
2006-02-15 03:34:33 KENNETH
2006-02-15 03:34:33 DARYL
2006-02-15 03:34:33 GENE
2006-02-15 03:34:33 MEG
2006-02-15 03:34:33 CHRIS
2006-02-15 03:34:33 JIM
2006-02-15 03:34:33 SPENCER
2006-02-15 03:34:33 SUSAN
2006-02-15 03:34:33 WALTER
2006-02-15 03:34:33 MATTHEW
2006-02-15 03:34:33 PENELOPE
2006-02-15 03:34:33 SIDNEY
2006-02-15 03:34:33 GROUCHO
2006-02-15 03:34:33 GINA
2006-02-15 03:34:33 WARREN
2006-02-15 03:34:33 SYLVESTER
2006-02-15 03:34:33 SUSAN
2006-02-15 03:34:33 CAMERON
2006-02-15 03:34:33 RUSSELL
2006-02-15 03:34:33 MORGAN
2006-02-15 03:34:33 MORGAN
2006-02-15 03:34:33 HARRISON
2006-02-15 03:34:33 DAN
2006-02-15 03:34:33 RENEE
2006-02-15 03:34:33 CUBA
2006-02-15 03:34:33 WARREN
2006-02-15 03:34:33 PENELOPE
2006-02-15 03:34:33 LIZA
2006-02-15 03:34:33 SALMA
2006-02-15 03:34:33 JULIANNE
2006-02-15 03:34:33 SCARLETT
2006-02-15 03:34:33 ALBERT
2006-02-15 03:34:33 FRANCES
2006-02-15 03:34:33 KEVIN
2006-02-15 03:34:33 CATE
2006-02-15 03:34:33 DARYL
2006-02-15 03:34:33 GRETA
2006-02-15 03:34:33 JANE
2006-02-15 03:34:33 ADAM
2006-02-15 03:34:33 RICHARD
2006-02-15 03:34:33 GENE
2006-02-15 03:34:33 RITA
2006-02-15 03:34:33 ED
2006-02-15 03:34:33 MORGAN
2006-02-15 03:34:33 LUCILLE
2006-02-15 03:34:33 EWAN
2006-02-15 03:34:33 WHOOPI
2006-02-15 03:34:33 CATE
2006-02-15 03:34:33 JADA
2006-02-15 03:34:33 RIVER
2006-02-15 03:34:33 ANGELA
2006-02-15 03:34:33 KIM
2006-02-15 03:34:33 ALBERT
2006-02-15 03:34:33 FAY
2006-02-15 03:34:33 EMILY
2006-02-15 03:34:33 RUSSELL
2006-02-15 03:34:33 JAYNE
2006-02-15 03:34:33 GEOFFREY
2006-02-15 03:34:33 BEN
2006-02-15 03:34:33 MINNIE
2006-02-15 03:34:33 MERYL
2006-02-15 03:34:33 IAN
2006-02-15 03:34:33 FAY
2006-02-15 03:34:33 GRETA
2006-02-15 03:34:33 VIVIEN
2006-02-15 03:34:33 LAURA
2006-02-15 03:34:33 CHRIS
2006-02-15 03:34:33 HARVEY
2006-02-15 03:34:33 OPRAH
2006-02-15 03:34:33 CHRISTOPHER
2006-02-15 03:34:33 HUMPHREY
2006-02-15 03:34:33 AL
2006-02-15 03:34:33 NICK
2006-02-15 03:34:33 LAURENCE
2006-02-15 03:34:33 WILL
2006-02-15 03:34:33 KENNETH
2006-02-15 03:34:33 MENA
2006-02-15 03:34:33 OLYMPIA
2006-02-15 03:34:33 GROUCHO
2006-02-15 03:34:33 ALAN
2006-02-15 03:34:33 MICHAEL
2006-02-15 03:34:33 WILLIAM
2006-02-15 03:34:33 JON
2006-02-15 03:34:33 GENE
2006-02-15 03:34:33 LISA
2006-02-15 03:34:33 ED
2006-02-15 03:34:33 JEFF
2006-02-15 03:34:33 MATTHEW
2006-02-15 03:34:33 DEBBIE
2006-02-15 03:34:33 RUSSELL
2006-02-15 03:34:33 HUMPHREY
2006-02-15 03:34:33 MICHAEL
2006-02-15 03:34:33 JULIA
2006-02-15 03:34:33 RENEE
2006-02-15 03:34:33 ROCK
2006-02-15 03:34:33 CUBA
2006-02-15 03:34:33 AUDREY
2006-02-15 03:34:33 GREGORY
2006-02-15 03:34:33 JOHN
2006-02-15 03:34:33 BURT
2006-02-15 03:34:33 MERYL
2006-02-15 03:34:33 JAYNE
2006-02-15 03:34:33 BELA
2006-02-15 03:34:33 REESE
2006-02-15 03:34:33 MARY
2006-02-15 03:34:33 JULIA
2021-01-01 21:15:00 Okan
2021-01-01 21:15:00 Okan
2021-01-01 21:15:00 Erdal
2021-01-01 21:15:00 Serkan
2022-01-01 21:49:03 Okan
2022-01-01 21:49:15 THORA
2022-01-01 21:52:36 Serkan

* Let's now order the actors by their id's descendently.
* Use `.desc()` for that purpose

In [13]:
from sqlalchemy import and_
stmt = select([actor])

stmt = stmt.order_by(actor.columns.actor_id.desc())

# Ordering actors by their id's descendently: 
results = connection.execute(stmt).fetchall() # fetching our data

# Using for loop for more clean output
print("Ordering actors by their id's descendently: ")
for result in results:
    print(result.first_name, result.last_name)

Ordering actors by their id's descendently:
Serkan keskin
Erdal Besikcioglu
Okan YALABIK
Serkan KESKIN
Okan Yalabik
Okan Yalabik
THORA YALABIK
JULIA FAWCETT
MARY KEITEL
REESE WEST
BELA WALKEN
JAYNE SILVERSTONE
MERYL ALLEN
BURT TEMPLE
JOHN SUVARI
GREGORY GOODING
AUDREY BAILEY
CUBA BIRCH
ROCK DUKAKIS
RENEE BALL
JULIA ZELLWEGER
MICHAEL BOLGER
HUMPHREY GARLAND
RUSSELL CLOSE
DEBBIE AKROYD
MATTHEW CARREY
JEFF SILVERSTONE
ED GUINESS
LISA MONROE
GENE MCKELLEN
JON CHASE
WILLIAM HACKMAN
MICHAEL BENING
ALAN DREYFUSS
GROUCHO WILLIAMS
OLYMPIA PFEIFFER
MENA HOPPER
KENNETH HOFFMAN
WILL WILSON
LAURENCE BULLOCK
NICK DEGENERES
AL GARLAND
HUMPHREY WILLIS
CHRISTOPHER WEST
OPRAH KILMER
HARVEY HOPE
CHRIS DEPP
LAURA BRODY
VIVIEN BASINGER
GRETA MALDEN
FAY WOOD
IAN TANDY
MERYL GIBSON
MINNIE KILMER
BEN HARRIS
GEOFFREY HESTON
JAYNE NOLTE
RUSSELL TEMPLE
EMILY DEE
FAY WINSLET
ALBERT JOHANSSON
KIM ALLEN
ANGELA WITHERSPOON
RIVER DEAN
JADA RYDER
CATE HARRIS
WHOOPI HURT
EWAN GOODING
LUCILLE DEE
MORGAN WILLIAMS
ED MANSFIELD
RITA REYNOLDS
GENE HOPKINS
RICHARD PENN
ADAM HOPPER
JANE JACKMAN
GRETA KEITEL
DARYL CRAWFORD
CATE MCQUEEN
KEVIN GARLAND
FRANCES TOMEI
ALBERT NOLTE
SCARLETT BENING
JULIANNE DENCH
SALMA NOLTE
LIZA BERGMAN
PENELOPE MONROE
WARREN JACKMAN
CUBA ALLEN
RENEE TRACY
DAN STREEP
HARRISON BALE
MORGAN MCDORMAND
MORGAN HOPKINS
RUSSELL BACALL
CAMERON ZELLWEGER
SUSAN DAVIS
SYLVESTER DERN
WARREN NOLTE
GINA DEGENERES
GROUCHO DUNST
SIDNEY CROWE
PENELOPE CRONYN
MATTHEW LEIGH
WALTER TORN
SUSAN DAVIS
SPENCER DEPP
JIM MOSTEL
CHRIS BRIDGES
MEG HAWKE
GENE WILLIS
DARYL WAHLBERG
KENNETH TORN
ELLEN PRESLEY
KIRSTEN AKROYD
CHRISTOPHER BERRY
SEAN GUINESS
CHARLIZE DENCH
KENNETH PESCI
SPENCER PECK
GREG CHAPLIN
MINNIE ZELLWEGER
JAMES PITT
BEN WILLIS
WOODY JOLIE
SCARLETT DAMON
RALPH CRUZ
MAE HOFFMAN
GROUCHO SINATRA
CARY MCCONAUGHEY
ANGELINA ASTAIRE
BURT POSEY
MILLA KEITEL
GARY PENN
SEAN WILLIAMS
ADAM GRANT
MICHELLE MCCONAUGHEY
KENNETH PALTROW
RIP WINSLET
JESSICA BAILEY
MARY TANDY
ANGELA HUDSON
RAY JOHANSSON
CAMERON WRAY
JAYNE NEESON
CHRISTIAN NEESON
HENRY BERRY
DUSTIN TAUTOU
CHRISTIAN AKROYD
JUDE CRUISE
DAN HARRIS
FAY KILMER
PENELOPE PINKETT
MENA TEMPLE
CARMEN HUNT
GARY PHOENIX
NATALIE HOPKINS
ANNE CRONYN
FRANCES DAY-LEWIS
JULIA BARRYMORE
PARKER GOLDBERG
REESE KILMER
NICK STALLONE
KIRK JOVOVICH
TOM MIRANDA
JODIE DEGENERES
JOHNNY CAGE
GOLDIE BRODY
TOM MCKELLEN
VAL BOLGER
BURT DUKAKIS
JUDY DEAN
AUDREY OLIVIER
MILLA PECK
TIM HACKMAN
SISSY SOBIESKI
SANDRA PECK
ALEC WAYNE
WOODY HOFFMAN
JULIA MCQUEEN
RIP CRAWFORD
KEVIN BLOOM
CAMERON STREEP
SANDRA KILMER
ELVIS MARX
KIRSTEN PALTROW
LUCILLE TRACY
BOB FAWCETT
DAN TORN
HELEN VOIGHT
FRED COSTNER
CUBA OLIVIER
VIVIEN BERGEN
UMA WOOD
KARL BERRY
ZERO CAGE
CHRISTIAN GABLE
JOE SWANK
MATTHEW JOHANSSON
GRACE MOSTEL
BETTE NICHOLSON
JOHNNY LOLLOBRIGIDA
JENNIFER DAVIS
ED CHASE
NICK WAHLBERG
PENELOPE GUINESS

* Count how many actors we have.
* To do that, use `count` with `func` and count actor_id 's

In [14]:
from sqlalchemy import func
# Counting the population of the countries in DB 
stmt = select([func.count(actor.columns.actor_id)])
results = connection.execute(stmt).scalar()
print(results)

206

* Print to see how many tables we have in our DB

In [15]:
print(engine.table_names())

['actor', 'address', 'category', 'city', 'country', 'customer', 'film', 'film_actor', 'film_category', 'film_text', 'inventory', 'language', 'payment', 'rental', 'staff', 'store']

Create `film_actor`table with the same way you did while creating `actor` table.

In [16]:
film_actor = Table("film_actor", metadata, autoload = True, autoload_with=engine)

* Print keynames of `film_actor` table.

In [17]:
film_actor.columns.keys()

['actor_id', 'film_id', 'last_update']

* Use `select` method to print values inside our `film_actor`table.

In [18]:
from sqlalchemy import select
# stmt = "SELECT * FROM country" # this is how we write statements ins SQLAlchemy
stmt = select([film_actor]) # or we can also write like this
result_proxy = connection.execute(stmt) # this is how we execute results in SQLAlchemy
results = result_proxy.fetchall() # this is how we fetch the result in SQLAlchemy
results # to see the all data on the country table

[(1, 1, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (1, 23, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (1, 25, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (1, 106, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (1, 140, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (1, 166, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (1, 277, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (1, 361, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (1, 438, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (1, 499, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (1, 506, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (1, 509, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (1, 605, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (1, 635, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (1, 749, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (1, 832, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (1, 939, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (1, 970, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (1, 980, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 3, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 31, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 47, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 105, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 132, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 145, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 226, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 249, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 314, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 321, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 357, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 369, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 399, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 458, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 481, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 485, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 518, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 540, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 550, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 555, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 561, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 742, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 754, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 811, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (2, 958, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 17, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 40, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 42, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 87, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 111, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 185, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 289, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 329, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 336, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 341, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 393, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 441, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 453, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 480, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 539, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 618, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 685, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 827, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 966, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 967, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 971, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (3, 996, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 23, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 25, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 56, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 62, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 79, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 87, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 355, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 379, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 398, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 463, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 490, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 616, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 635, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 691, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 712, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 714, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 721, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 798, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 832, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 858, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 909, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (4, 924, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 19, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 54, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 85, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 146, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 171, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 172, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 202, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 203, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 286, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 288, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 316, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 340, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 369, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 375, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 383, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 392, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 411, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 503, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 535, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 571, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 650, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 665, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 687, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 730, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 732, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 811, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 817, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 841, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (5, 865, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 29, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 53, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 60, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 70, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 112, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 164, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 165, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 193, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 256, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 451, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 503, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 509, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 517, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 519, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 605, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 692, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 826, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 892, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 902, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (6, 994, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 25, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 27, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 35, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 67, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 96, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 170, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 173, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 217, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 218, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 225, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 292, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 351, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 414, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 463, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 554, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 618, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 633, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 637, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 691, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 758, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 766, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 770, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 805, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 806, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 846, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 900, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 901, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 910, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 957, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (7, 959, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 47, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 115, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 158, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 179, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 195, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 205, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 255, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 263, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 321, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 396, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 458, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 523, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 532, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 554, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 752, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 769, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 771, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 859, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 895, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (8, 936, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 30, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 74, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 147, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 148, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 191, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 200, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 204, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 434, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 510, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 514, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 552, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 650, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 671, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 697, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 722, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 752, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 811, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 815, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 865, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 873, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 889, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 903, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 926, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 964, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (9, 974, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 1, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 9, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 191, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 236, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 251, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 366, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 477, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 480, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 522, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 530, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 587, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 694, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 703, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 716, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 782, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 914, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 929, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 930, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 964, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 966, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 980, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (10, 983, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 118, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 205, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 281, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 283, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 348, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 364, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 395, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 429, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 433, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 453, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 485, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 532, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 567, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 587, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 597, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 636, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 709, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 850, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 854, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 888, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 896, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 928, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 938, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 969, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (11, 988, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 16, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 17, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 34, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 37, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 91, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 92, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 107, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 155, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 177, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 208, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 213, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 216, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 243, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 344, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 400, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 416, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 420, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 457, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 513, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 540, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 593, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 631, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 635, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 672, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 716, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 728, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 812, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 838, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 871, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 880, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (12, 945, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 17, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 29, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 45, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 87, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 110, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 144, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 154, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 162, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 203, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 254, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 337, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 346, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 381, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 385, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 427, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 456, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 513, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 515, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 522, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 524, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 528, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 571, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 588, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 597, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 600, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 718, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 729, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 816, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 817, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 832, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 833, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 843, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 897, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 966, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (13, 998, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 154, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 187, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 232, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 241, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 253, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 255, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 258, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 284, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 292, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 370, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 415, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 417, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 418, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 454, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 472, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 475, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 495, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 536, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 537, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 612, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 688, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 759, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 764, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 847, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 856, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 890, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 908, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 919, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 948, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (14, 970, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 31, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 89, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 91, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 108, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 125, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 236, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 275, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 280, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 326, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 342, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 414, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 445, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 500, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 502, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 541, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 553, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 594, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 626, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 635, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 745, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 783, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 795, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 817, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 886, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 924, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 949, datetime.datetime(2006, 2, 15, 4, 5, 3)),
 (15, 968, datetime.datetime(2006, 2, 15, 4, 5, 3)),

* Seems that lots of data we have in `film_actor` table. 
* Count the number of rows to learn how many row we have in `film_actor` table.

In [19]:
from sqlalchemy import func
# Counting the population of the countries in DB 
stmt = select([func.count(film_actor.columns.actor_id)])
results = connection.execute(stmt).scalar()
print(results)

5462

* Automatic join `actor` tables `actor_id` column with `film_actor` table's `actor_id` column.

In [21]:
stmt = select([actor.columns.actor_id, film_actor.columns.actor_id])
stmt = stmt.limit(8)
results = connection.execute(stmt).fetchall()
print(results)

[(186, 1), (111, 1), (85, 1), (300, 1), (203, 1), (202, 1), (200, 1), (63, 1)]

* Add a new actor at the end of the `actor` table and print the last row to check whether he updated or not. Actor's info: Okan Yalabik, id = 300, last update date: 01.01.2022 22:15 00:00

In [23]:
# importing necessary statement
from sqlalchemy import insert

# Let's insert a row to our newly created nations table
stmt = insert(actor).values(actor_id = 550, first_name = "Okan", last_name = "Yalabik", last_update = "2022-01-01 22:15:00") # entering the values we want to insert
result_proxy = connection.execute(stmt)
print("Our row number inside actor is: ", result_proxy.rowcount) # To count how many rows we have inside our actors table

Our row number inside actor is:  1

In [35]:
stmt = select([actor])
result = connection.execute(stmt).fetchall()
print("Values inside our actors table: ", result[200])

Values inside our actors table:  (202, 'Okan', 'Yalabik', datetime.datetime(2021, 1, 1, 21, 15))

* Insert the following actors at the end of the `actor` table.

    * Erdal Besikcioglu, id = 301, last update date: 01.01.2022 22:15 00:00
    * Serkan Keskin, id = 302, last update date: 01.01.2022 22:15 00:00
`

In [37]:
stmt = insert(actor)

# dict that contains multiple rows 
values_list = [{"actor_id" : 2005, "first_name" : "Erdal", "last_name" : "Besikcioglu", "last_update" : "2021-01-01 22:15:00"},
               {"actor_id" : 2006, "first_name" : "Serkan", "last_name" : "keskin", "last_update" : "2021-01-01 22:15:00"}]

result_proxy = connection.execute(stmt, values_list)
print("how many rows we added inside actor table: ", result_proxy.rowcount) # To count how many rows we added our nations table

how many rows we added inside actor table:  2

In [40]:
stmt = select([actor])
result = connection.execute(stmt).fetchall()
print("last - 1'th row: ", result[204]) # result[201]
print("last row: ", result[205]) # result[202]

last - 1'th row:  (301, 'Erdal', 'Besikcioglu', datetime.datetime(2021, 1, 1, 21, 15))
last row:  (302, 'Serkan', 'keskin', datetime.datetime(2021, 1, 1, 21, 15))

* Update uppercase Okan Yalabik, Erdal Besikcioglu, and Serkan Keskin with Okan YALABIK, Erdal BESKCOGLU AND Serkan KESKN by using `update`

In [89]:
# FOR Okan YALABIK
# importing necessary statement
from sqlalchemy import update

stmt = update(actor) # to point out that which table are we going to update

stmt = stmt.where(actor.columns.actor_id == 201) # importing the row that's id value is 200

stmt = stmt.values(last_name='YALABIK') 
result_proxy = connection.execute(stmt)
print("To see how may rows we've updated in this code block: ",result_proxy.rowcount)

stmt = select([actor])
result = connection.execute(stmt).fetchall()
print("Updated Value: ", result[200])

To see how may rows we've updated in this code block:  1
Updated Value:  (201, 'Okan', 'YALABIK', datetime.datetime(2022, 1, 1, 22, 46, 36))

In [93]:
# for Erdal BESIKCIOGLU
# importing necessary statement
from sqlalchemy import update

stmt = update(actor) # to point out that which table are we going to update

stmt = stmt.where(actor.columns.actor_id == 205) # importing the row that's id value is 204

stmt = stmt.values(last_name='BESIKCIOGLU') 
result_proxy = connection.execute(stmt)
print("To see how may rows we've updated in this code block: ",result_proxy.rowcount)

stmt = select([actor])
result = connection.execute(stmt).fetchall()
print("Updated Value: ", result[204])

To see how may rows we've updated in this code block:  1
Updated Value:  (205, 'Erdal', 'BESIKCIOGLU', datetime.datetime(2022, 1, 1, 22, 52))

In [94]:
# for Serkan KESKIN
# importing necessary statement
from sqlalchemy import update

stmt = update(actor) # to point out that which table are we going to update

stmt = stmt.where(actor.columns.actor_id == 206) # importing the row that's id value is 204

stmt = stmt.values(last_name='KESKIN') 
result_proxy = connection.execute(stmt)
print("To see how may rows we've updated in this code block: ",result_proxy.rowcount)

stmt = select([actor])
result = connection.execute(stmt).fetchall()
print("Updated Value: ", result[205])

To see how may rows we've updated in this code block:  1
Updated Value:  (206, 'Serkan', 'KESKIN', datetime.datetime(2022, 1, 1, 22, 52, 36))

* Delete the rows whose actor_id is 201, 204, 205 by using `delete`

In [41]:
from sqlalchemy import delete
stmt = delete(actor).where(actor.columns.actor_id == 201) # Deleting the Name Column
result_proxy = connection.execute(stmt)
result_proxy.rowcount # to count how many rows affected

0

In [102]:
from sqlalchemy import delete
stmt = delete(actor).where(actor.columns.actor_id == 204) # Deleting the Name Column
result_proxy = connection.execute(stmt)
result_proxy.rowcount # to count how many rows affected

1

In [103]:
from sqlalchemy import delete
stmt = delete(actor).where(actor.columns.actor_id == 205) # Deleting the Name Column
result_proxy = connection.execute(stmt)
result_proxy.rowcount # to count how many rows affected

1